.header {
	background-color: black;
	font-weight: bold;

	position: relative;
	width: 100%;
	height: 5vh;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;

	user-select: none;
}

.waldoLogoTransparent {
	width: 24px;
	height: 24px;
	margin-left: 1vw;
	margin-right: 1vw;
}

.link {
	text-decoration: none;
	color: var(--link-color);
	font-size: calc(10px + 1vw);

	width: 25%;
}
.linkActive {
	text-decoration: none;
	color: var(--link-color-active);
	font-size: calc(10px + 1vw);

	/* width: 25%; */
	margin-right: 2vw;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.windowButtons {
	width: 15%;
	height: 100%;

	margin-left: auto;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.windowButton {
	background-color: var(--background-color-secondary);
	color: var(--link-color);

	width: calc(100%/3);

	border: none;
}