:root {
	--background-color-primary: #282c34;

	--text-color: white;
	--link-color: #84c8ca;
	--link-color-active: #98e8eb;
}

body {
	background-color: var(--background-color-primary);
	color: var(--text-color);
	font-size: calc(10px + 2vmin);

  margin: 0;

	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

a {
	color: #61dafb;
}
